  #map_canvas {
      height: 650px;
      width: 800px;
  }

 #selector {

 font-family;Georgia;
 font-size:1em;
 
  }

 #postcode
 {

 font-family;Georgia;
 font-size:1em;
  

 }

 #go {
color:#fff;
background-color: #940026;
opacity:0.8
 }

li {
display: inline-block;

}